@charset "UFT-8";

* {
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-image: linear-gradient(to right, #3B4752, #0A99D7, #222222);
}

main{
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgba(6, 6, 160, 0.288);
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1{
    color: #0A99D7;
    text-align: center;
    text-shadow: 1px 1px 2px #086d9988;
}

h2{
    color: #3B4752;
}

p{
    text-align: justify;
}