body {
    font-family: 'Times New Roman', Times, serif;
    background-color: gainsboro;
    margin: 0;
}


header{
    background-color: white;
    margin: 5px 10px 5px 10px;
    padding-left: 10px;
    padding-bottom: 10px;
    border-radius: 5px;
}
header > h1 {
    font-size: 1.7em;
}
nav{
    background-color: gray;
    margin-right: 10px;
    box-shadow: 2px 2px 3px #00000085;
}

a{
    text-decoration: none;
    margin-left: 10px;
    color: white
}

nav > a:hover {
    text-decoration: underline;
}

main{
    margin: auto;
    width: 50%;
}

section {
    background-color: rgba(65, 105, 225, 0.26);
    padding: 1px 10px 5px 10px;
    margin-top: 13px;
    border-radius: 5px;
    box-shadow: 2px 2px 5px #0000006e; 
    text-align: justify;
}
article > p {
    text-indent: 25px
}

footer {
    text-align: center;
    font-style: italic;
    background-color: rgb(0, 0, 0);
    color: yellow;
    margin-top: 25px;
    padding-top: 7px;
    padding-bottom: 7px;
}

footer > p {
    margin: 0;
}

#Autor1 {
    background-color: gainsboro;
    border-radius: 6px;
    width: 330px;
}

